<header>
  <link rel="stylesheet" type="text/css" href="style.css">
</header>
<body>

<div id="header">
<h1>National Hockey League</h1>
</div>

<div id="answersSection">
<!-- <h3><script src="app.js"></script></h3> -->
</div>

<nav id="navBar">
  <ul>
    <li id="conference"><img id="homeimage" src="http://findicons.com/files/icons/1580/devine_icons_part_2/512/home.png" alt="Home" height="32" width="32"><a href="index.html">Home</a>
    <li id="conference"><img id="eastconfimage" src="https://upload.wikimedia.org/wikipedia/en/1/16/NHL_Eastern_Conference.svg" alt="Eastern Conference" height="32" width="32"><a href="eastconf.html">Eastern Conference</a>
      <li id="conference"><img id="westconfimage" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/65/NHL_Western_Conference.svg/1280px-NHL_Western_Conference.svg.png" alt="Western Conference" height="32" width="32"><a href="westconf.html">Western Conference</a>
</nav>

<h1>Westner Conference</h1>
<p>The Western Conference is one of two conferences in the National Hockey League (NHL) used to divide teams. Its counterpart is the Eastern Conference.</p>

<h1>Teams In The Eastern Conference</h1>
<ul id="westconfone">
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/ChicagoBlackhawksLogo.svg/1141px-ChicagoBlackhawksLogo.svg.png" height="15" width="15"> Chicago Blackhawks</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2a/Dallas_Stars_logo.svg/150px-Dallas_Stars_logo.svg.png" height="15" width="15"> Dallas Stars</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e8/StLouis_Blues.svg/1280px-StLouis_Blues.svg.png" height="15" width="15"> St. Louis Blues</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/Anaheim_Ducks.svg/1280px-Anaheim_Ducks.svg.png" height="15" width="15"> Anaheim Ducks</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Los_Angeles_Kings_Logo_(2011).svg/855px-Los_Angeles_Kings_Logo_(2011).svg.png" height="15" width="15"> Los Angeles Kings</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Nashville_Predators_Logo_(2011).svg/1280px-Nashville_Predators_Logo_(2011).svg.png" height="15" width="15"> Nashville Predators</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/SanJoseSharksLogo.svg/1258px-SanJoseSharksLogo.svg.png" height="15" width="15"> San Jose Sharks</li>

</ul>
<ul>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1b/Minnesota_Wild.svg/1280px-Minnesota_Wild.svg.png" height="15" width="15"> Minnesota Wild</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Colorado_Avalanche_logo.svg/1249px-Colorado_Avalanche_logo.svg.png" height="15" width="15"> Colorado Avalanche</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/Vancouver_Canucks_logo.svg/1061px-Vancouver_Canucks_logo.svg.png" height="15" width="15"> Vancouver Canucks</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/27/Arizona_Coyotes.svg/1024px-Arizona_Coyotes.svg.png" height="15" width="15"> Arizona Coyotes</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/93/Winnipeg_Jets_Logo_2011.svg/1945px-Winnipeg_Jets_Logo_2011.svg.png" height="15" width="15"> Winnipeg Jets</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/f/ff/Logo_Edmonton_Oilers_Alternate.svg" height="15" width="15"> Edmonton Oilers</li>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/60/Calgary_Flames_Logo.svg/1201px-Calgary_Flames_Logo.svg.png" height="15" width="15"> Calgary Flames</li>

  </ul>

</script>

<div id="footer">
<a href="https://www.nhl.com/">NHL.com</a> &nbsp;
&nbsp;<a href="https://twitter.com/thattonekiid">Follow Me On Twitter</a>
</div>

</body>
