body {
    background-color: lightblue;
}

#header {
    color: white;
    font-family: Monaco;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-style: outset;
    background-image: url("http://wallpapercave.com/wp/SAs1WyP.jpg");

}
#footer {
  display: flex;
  justify-content: center;
}
#answersSection {
  display: flex;
  justify-content: center;
}
#navbar{
  margin-left: -50px;
}
ul{
    list-style-type: none;
}
#conference{
  margin: 5px;
}
#eastconfimage{
  display: inline;
}
